a:link,
a:active,
a:visited {
    color: #CC57E0;
    text-decoration: none;
}

a:hover {
    color: #E1BEE7;
}


/***************************
 * HEADER
 ***************************/

nav {
    transition: all 2s ease;
}

.orange-background {
    background-color: #FF9800;
}

/*****************************
* JUMBOTRON
*****************************/

#welcome {
    background-image: url("http://res.cloudinary.com/mca62511/image/upload/v1476886510/halloween_collage_black_border_nrqfzj.jpg");
}

.halloween-welcome {
    background: #211f26;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.video-frame {
    margin: 0 auto;
    max-width: 560px;
    max-height: 315px;
    width: 100%;
    height: 315px;
}

.video-frame iframe {
    width: 100%;
}


.spooky-button {
    background-color: #9C27B0;
    color: white;
}

.spooky-button:hover {
    background-color: #BC47D0;
}

.spooky-button:focus {
    background-color: #DC67F0;
}

.content-wrapper {
    background: #333;
    color: white;
}

.event-card,
.article-card {
    color: white;
    background: #212121;
}

.article-media {
    background-color: #292929;
}

.event-card h3,
.article-card h3 {
    color: #FF9800;
}

.event-card p,
.article-card p {
    color: #FFE0B2;
}

main {
    background: #333;
}



.archive-notice-text {
    color: #aaa;
}