body {
    background-color: #666;
}

.nav-extend {
    background-color: #f44336;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
    position: relative;
    z-index: 9001;
    padding: 25px 10px 0em 10px;
    margin-top: -3px;
}

.paper-title {
    background-color: white;
    max-width: 900px;
    box-shadow: 0px 1px 2px 1px rgba(33,33,33,0.3);
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1em;
    padding-top: 1em;
}

.paper-wrapper {
    overflow: hidden;
    margin-top: 10px;
    position:relative;
    z-index: 9003;
    top: -10px;
    left: 0;
    padding: 0 10px 10px 10px;
}

.paper-content {
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(33,33,33,0.3);
    max-width: 900px;
    margin: 0 auto;
    overflow:hidden;
    padding: 0 1em;
    min-height: 60vh;
}

main {
    background-color: #f2f2f2;
    min-height: 70vh;
}

nav {
    box-shadow: none;
}

.nav-bandage {
    background: #f44336;
    position: absolute;
    z-index: 50000;
    width: 100%;
    left: 0;
    height: 10px;
    margin-top: -7px;
}