@import url(https://fonts.googleapis.com/css?family=Roboto);

/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */
.ja {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #e7e7e7;
}

a:link,
a:active,
a:visited {
    color: #3F51B5;
    text-decoration: none;
}

a:hover {
    color: #536DFE;
}

nav {
    background-color: #F44336;
    color: white;
    overflow: hidden;
    padding: 0 2em;
    line-height: 2;
    box-shadow: 0px 5px 10px 0px rgba(33,33,33,0.3);
    display: flex;
    justify-content: space-between;
}

header {
	display: flex;
	align-items: center;
}

header img {
	height: 40px;
	margin-right: 15px;
}

nav h1 {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a:link,
nav a:visited, 
nav a:active {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card {
    background-color: white;
    max-width: 570px;
    margin: 50px 15px;
    box-shadow: 0px 3px 10px 0px rgba(33,33,33,0.3);
    border-radius: 3px;
}

.card .content {
    padding: 1em;
}

.card .media img {
    width: 100%;
}

footer {
    background-color: #666;
    color: #ddd;
    overflow: hidden;
    line-height: 5;
    padding: 0 2em;
}

button {
    background-color: #536DFE;
    color: white;
    line-height: 2;
    font-size: 125%;
    border-top: 0px;
    border-right: 1px solid #303F9F;
    border-left: 0px;
    border-bottom: 3px solid #303F9F;
    border-radius: 6px;
}

button:active {
    margin-top: 3px;
    margin-left: 1px;
    border-bottom: 0px;
    border-top: 0px;
}

button:hover,
button:focus {
    outline: none;
}

.text-right {
    text-align: right;
}

ul.resources {
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #ddd;
}

ul.resources li {
    line-height: 3;
    padding: 0 1em;
    border-bottom: 1px solid #ddd;
}

ul.resources li:hover {
    background-color: #eee;
}

