@import url(https://fonts.googleapis.com/css?family=Dosis:400,200|Roboto:400,100);

/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */

.ja {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #e7e7e7;
}

a:link,
a:active,
a:visited {
    color: #3F51B5;
    text-decoration: none;
}

a:hover {
    color: #536DFE;
}

#flex-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: pink;
}


/***************************
 * HEADER
 ***************************/

nav {
    position:relative;
    z-index: 9000;
    background-color: #F44336;
    color: white;
    overflow: hidden;
    padding: 0 2em;
    line-height: 2;
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 15px;
}

nav h1 {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a:link,
nav a:visited,
nav a:active {
    color: white;
    text-decoration: none;
}


/********************************
 * Main
 *******************************/
 
 main {
     flex-grow: 2;
     display: flex;
 }
 
/* WELCOME */

#welcome {
    flex-grow: 2;
    display: flex;
    position: relative;
    z-index: 100;
    background-image: url(http://res.cloudinary.com/mca62511/image/upload/e_red/v1459296785/parallax1_voqcc8.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.welcome-content {
    flex-grow: 2;
    background: rgba(33,33,33,0.5);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    
}

.welcome-content h1 {
    font-family: Dosis;
    font-weight: 200;
    font-size: 300%;
}

.welcome-content p {
    max-width: 600px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 125%;
    line-height: 1.5;
}

button {
    background-color: transparent;
    color: white;
    line-height: 2;
    border: 1px solid rgba(255,255,255,0.5);
    font-weight: 100;
    font-size: 125%;
    text-transform: uppercase;
    margin: 1em 0;
    font-family: Roboto;
}

button:hover {
    text-shadow: 0px 0px white;
    border: 1px solid white;
}

/* ARTICLES */

#articles {
    min-height: 500px;
}

.articles-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

.article-card {
    background: white;
    box-shadow: 0px 2px 1px 0px rgba(33,33,33,0.3);
    margin: 0.25em;
}

.article-card .media {
    height: 200px;
    width: 200px;
}




/**********************
 * Footer
 **********************/

footer {
    align-self: baseline;
    background-color: #666;
    color: #ddd;
    overflow: hidden;
    line-height: 5;
    width: 100%;
    text-align: center;
}

.desktop-tablet-only {
    display: inline-block;
}

.phone-only {
    display: none;
}

@media (max-width: 500px) {
    .phone-only {
        display: inline-block;
    }
}

@media (max-width: 500px){
    .desktop-tablet-only {
        display: none;
    }
}