@import url(https://fonts.googleapis.com/css?family=Dosis:400,200|Roboto:600,400,100);

/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */

.ja {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif !important;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    color: #212121;
}

a:link,
a:active,
a:visited {
    color: #3F51B5;
    text-decoration: none;
}

a:hover {
    color: #536DFE;
}

div {
    position: relative;
    display: block;
}

#flex-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/***************************
 * HEADER
 ***************************/

nav {
    position:relative;
    z-index: 9000;
    background-color: #F44336;
    color: white;
    overflow: hidden;
    padding: 0 2em;
    line-height: 2;
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 15px;
}

nav h1 {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a:link,
nav a:visited,
nav a:active {
    color: white;
    text-decoration: none;
}


/********************************
 * Main
 *******************************/
 
/* WELCOME */

#welcome {
    position: relative;
    z-index: 100;
    background-image: url(../img/akita-view.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.welcome-content {

    background: rgba(33,33,33,0.5);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    
}

.welcome-content h1 {
    font-family: Dosis;
    font-weight: 200;
    font-size: 300%;
}

.welcome-content p {
    max-width: 600px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 125%;
    line-height: 1.5;
}

#contact-button {
    background-color: transparent;
    color: white;
    line-height: 2;
    border: 1px solid rgba(255,255,255,0.5);
    font-weight: 400;
    font-size: 125%;
    text-transform: uppercase;
    margin: 1em 0;
    font-family: Roboto;
}

#contact-button:hover {
    text-shadow: 0px 0px white;
    border: 1px solid white;
}

/* ARTICLES */

/*-----------CONTENT WRAP-------------*/

.content-wrapper {
    display: flex;
    
    max-width: 1000px;
    margin: 0 auto;
}

/*-----------MEDIUM-------------*/

.articles {
    min-height: 100px;
    width: 66%;
}

.section-header {
    margin-left: 1em;
}


#medium-articles {
    margin: 1em;
    margin-right: 0;
    padding: 1px; /* This is to give the cards something
                     to "push against" when margin is
                     added to them on hover. */
}

.article-card {
    position: relative;
    z-index: 1000;
    background: white;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(33,33,33,0.3);
    margin-bottom: 1px;
    min-height: 150px;
    transition: all 300ms ease;
}

.read-more-card {
    position: relative;
    z-index: 1000;
    margin-bottom: 1px;
    text-align: right;
    width: auto;
    line-height: 3;
    font-size: 110%;
    color: #212121;
    padding-right: 2em;
}

.article-card:hover {
    margin-top: -3px;
    margin-bottom: 4px;
    z-index: 1001;
    box-shadow: 0px 5px 10px 0px rgba(33,33,33,0.3);
}


.article-media {
    background-color: #f9f9f9;
    width: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-content {
    width: 75%;
}

.article-content h3 {
    padding: 0 15px;
    color: #212121;
}

p.preview-title {
    font-size: 100%;
    font-weight: 700;
    padding: 0 15px;
    color: #212121;
}

.article-content p {
    padding: 0 15px;
    color: #656565;
}

p.date{
    padding: 0 15px;
    color: #656565;
    font-size: 75%;

}

/*-----------EVENTS-------------*/

.facebook-sidebar {
    width: 33%;
    min-height: 100px;
}

#facebook-events {
    margin: 1em;
    padding: 1px; /* This is to give the cards something
                     to "push against" when margin is
                     added to them on hover. */
}

.event-card {
    position: relative;
    z-index: 1000;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 1px 2px 0px rgba(33,33,33,0.3);
    margin-bottom: 1px;
    transition: all 300ms ease;
}

.event-card:hover {
    margin-top: -3px;
    margin-bottom: 4px;
    z-index: 1001;
    box-shadow: 0px 5px 10px 0px rgba(33,33,33,0.3);
}

.event-content {
    padding: 1em;
}

.event-content h3 {
    color: #212121;
    margin-bottom: 5px;
}

.event-content p {
    color: #656565;
    word-wrap: break-word;
}

.event-date {
    font-weight: 700;
    margin-top: 0;
}

/**********************
 * Footer
 **********************/

footer {
    align-self: baseline;
    background-color: #666;
    color: #ddd;
    overflow: hidden;
    line-height: 5;
    width: 100%;
    text-align: center;
}

.desktop-tablet-only {
    display: inline-block;
}

.phone-only {
    display: none;
}

.archive-notice {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.archive-notice-text {
    font-size: 95%;
    color: #555;
}

@media (max-width: 500px) {
    .phone-only {
        display: inline-block;
    }
}

@media (max-width: 500px){
    .desktop-tablet-only {
        display: none;
    }
}

@media (max-width: 1000px){
    .content-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .articles {
        width: auto;
    }
    .facebook-sidebar {
        width: auto;
    }
    
    #medium-articles {
        margin-right: 1em;
    }
    
    .event-media {
        height: 200px;
    }
    .article-card {
        flex-direction: column;
    }
    .article-media {
        height: 200px;
        width: auto;
    }
    .article-content {
        width: auto;
    }
}

@media (min-width: 1000px) {
    .read-more-events {
        padding: 15px;
    }
}



/******************************
 * Announcement
 *****************************/
 
 .announcement {
     max-width: 1000px;
     margin: 0 auto;

 }
 
 .announcement p {
     padding: 0 1em;
 }
 
 .announcement h3 {
     padding: 0 1em;
 }
 
 .material-button {
     color: #212121;
     transition: all 250ms ease;
     background-color: #e8e8e8;
     padding: 1em;
     text-transform: uppercase;
     border: 0;
     box-shadow: 0px 3px 6px 0px rgba(33,33,33,0.3);
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 600;
     margin: 0.5em 0.5em;
     border-radius: 3px;
     font-size: 90%;
     min-width: 100px;
 }
 
 .material-button:hover {
     background-color: #ededed;
     box-shadow: 0px 6px 10px 0px rgba(33,33,33,0.3);
 }
 
 .material-button:focus,
 .material-button:active {
     background-color: #f4f4f4;
     box-shadow: 0px 6px 10px 0px rgba(33,33,33,0.3);
     outline: none;
 }
 
 .material-button i {
     margin-right: 0.5em;
 }
 
 .align-right {
     text-align: right;
 }
 
 .primary-button {
     background-color: #536DFE;
     color: white;
 }
 
 .primary-button:hover {
     background-color: #839DFF;
 }
 
 .primary-button:focus {
     background-color: #A3BDFF;
 }