@import url(https://fonts.googleapis.com/css?family=Dosis:400,200|Roboto:600,400,300,100);

/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */

.ja {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif !important;
}

.text-center {
    text-align: center;
}

html {
  overflow-y: scroll;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    color: #212121;
}

a:link,
a:active,
a:visited {
    color: #3F51B5;
    text-decoration: none;
}

a:hover {
    color: #536DFE;
}

div {
    position: relative;
    display: block;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/***************************
 * HEADER
 ***************************/
 
.banner {
    width: 100%;
    position: relative;
    z-index: 100;
    background-image: url("/sumo/img/purple.jpg");
    background-color: #ce95d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.banner .top-bar {
    
    display: flex;
    justify-content: space-between;

}

.banner-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.banner-content h1,
.banner-content h2 {
    margin-left: 12px;
    margin-right: 12px;
}

.banner-content h1 {
    margin-top: 4em;
    padding-bottom: 16px;
    margin-bottom: 0;
    
}

.banner-content span {
    background: rgba(33,33,33,0.3);
}

.banner-content h2 {
    margin-top: 0;
    padding-top: 0;

}

.top-bar a {
    display: block;
    margin: 0;
    padding: 0;
}

.top-bar-link {
    height: 62px;
    width: 62px;
    margin: 0;
    padding: 0;
    display: block;
}

.lang-link {
    height: 62px;
    width: 62px;
    margin: 0;
    padding: 0;
    display: block;
}

nav {
    position: relative;
    z-index: 9000;
    background-color: #9C27B0;
    color: white;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 0px;
}

nav a:link,
nav a:visited,
nav a:active {
    color: white;
    text-decoration: none;
    padding: 1em .5em;
}

nav a:hover {
    background-color: #AC47D0;
}


/********************************
 * Main
 *******************************/

/* ARTICLES */


/*-----------CONTENT WRAP-------------*/

main {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 43vh;
    width: 100%;
}

main .content {
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(33,33,33,0.3);
    margin: 1em auto;
    overflow:hidden;
    padding: 0 1em;
    width: 100%;
}





/**********************
 * Footer
 **********************/

footer {
    align-self: baseline;
    background-color: #666;
    color: #ddd;
    overflow: hidden;
    line-height: 5;
    width: 100%;
    text-align: center;
}

.desktop-tablet-only {
    display: inline-block;
}

.phone-only {
    display: none;
}

@media (max-width: 500px) {
    .phone-only {
        display: inline-block;
    }
}

@media (max-width: 500px) {
    .desktop-tablet-only {
        display: none;
    }
}




/*******************************
/*         IFRAME
/********************************/

iframe {
    width: 100%;
    max-width: 560px;
    height: 280px;

}


/*******************************
/*         JS REVEALED CONTENT
/********************************/

#about-content,
#compete-content,
#attend-content,
#volunteer-content {
    display: none;
}










/*******************************
/*        Material Button
/********************************/

.material-button {
    color: #212121;
    transition: all 250ms ease;
    background-color: #e8e8e8;
    padding: 1em;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0px 3px 6px 0px rgba(33, 33, 33, 0.3);
    font-family: "Roboto", Helvetica, san-serif;
    font-weight: 600;
    margin: 0.5em 0.5em;
    border-radius: 3px;
    font-size: 90%;
    min-width: 100px;
}

.material-button:hover {
    background-color: #ededed;
    box-shadow: 0px 6px 10px 0px rgba(33, 33, 33, 0.3);
}

.material-button:focus,
.material-button:active {
    background-color: #f4f4f4;
    box-shadow: 0px 6px 10px 0px rgba(33, 33, 33, 0.3);
    outline: none;
}

.material-button i {
    margin-right: 0.5em;
}

.primary-button {
    background-color: #536DFE;
    color: white;
}

.primary-button:hover {
    background-color: #839DFF;
}

.primary-button:focus {
    background-color: #A3BDFF;
}
